# Realistic Ores home-band industrial body: dominant Black Shale supply at Y -104..-24.

Config {
    B:enabled=true
}

Deposit {
    S:customReplacements <
        #minecraft:stone_ore_replaceables -> realistic_ores:black_shale
        #minecraft:deepslate_ore_replaceables -> realistic_ores:deepslate_black_shale
     >

    S:descendants <

     >

    S:ores <
        realistic_ores:black_shale
     >

    I:rarity=226

    S:replaceableBlocks <
        #realistic_ores:overworld_ore_replaceables
     >

    B:vanilla=false

    Dimensions {
        S:blackList <
         >
        S:whiteList <
            minecraft:overworld
         >
    }

    Biomes {
        S:blackList <
         >
        S:whiteList <
         >
    }

    Altitude {
        I:max=-24
        I:min=-104
    }

    Miscellaneous {
        B:exposed=true
        I:maxAttempts=64
        S:proportions=0.8
        B:strictBounds=true
        B:strictStart=false
    }

    Indicator {
        S:circles <
            realistic_ores:surface_sample_black_shale, 3
            realistic_ores:surface_sample_black_shale, 6
         >
        S:continuity=25.0
        I:distortion=2
        S:id=
        S:threshold=20.0
    }

    Size {
        I:max=520
        I:min=220
    }
}
