# Realistic Ores home-band industrial body: dominant Brassroot supply at Y -48..40.

Config {
    B:enabled=true
}

Deposit {
    S:customReplacements <
        #minecraft:stone_ore_replaceables -> realistic_ores:brassroot
        #minecraft:deepslate_ore_replaceables -> realistic_ores:deepslate_brassroot
     >

    S:descendants <

     >

    S:ores <
        realistic_ores:brassroot
     >

    I:rarity=75

    S:replaceableBlocks <
        #realistic_ores:overworld_ore_replaceables
        #realistic_ores:overworld_ore_replaceables
     >

    B:vanilla=false

    Dimensions {
        S:blackList <
         >
        S:whiteList <
            minecraft:overworld
         >
    }

    Biomes {
        S:blackList <
         >
        S:whiteList <
         >
    }

    Altitude {
        I:max=40
        I:min=-48
    }

    Miscellaneous {
        B:exposed=true
        I:maxAttempts=64
        S:proportions=1.0
        B:strictBounds=true
        B:strictStart=false
    }

    Indicator {
        S:circles <
            realistic_ores:surface_sample_brassroot, 3
            realistic_ores:surface_sample_brassroot, 6
         >
        S:continuity=25.0
        I:distortion=2
        S:id=
        S:threshold=20.0
    }

    Size {
        I:max=900
        I:min=400
    }
}
