# Realistic Ores home-band industrial body: dominant Brassroot supply at Y -48..40.

Config {
    B:enabled=true
}

Deposit {
    S:customReplacements <
        #minecraft:stone_ore_replaceables -> better_ore_geology:brassroot
        #minecraft:deepslate_ore_replaceables -> better_ore_geology:deepslate_brassroot
     >

    S:descendants <

     >

    S:ores <
        better_ore_geology:brassroot
     >

    I:rarity=75

    S:replaceableBlocks <
        #better_ore_geology:overworld_ore_replaceables
        #better_ore_geology:overworld_ore_replaceables
     >

    B:vanilla=false

    Dimensions {
        S:blackList <
         >
        S:whiteList <
            minecraft:overworld
         >
    }

    Biomes {
        S:blackList <
         >
        S:whiteList <
         >
    }

    Altitude {
        I:max=40
        I:min=-48
    }

    Miscellaneous {
        B:exposed=true
        I:maxAttempts=64
        S:proportions=1.0
        B:strictBounds=true
        B:strictStart=false
    }

    Indicator {
        S:circles <
            better_ore_geology:surface_sample_brassroot, 3
            better_ore_geology:surface_sample_brassroot, 6
         >
        S:continuity=25.0
        I:distortion=2
        S:id=
        S:threshold=20.0
    }

    Size {
        I:max=900
        I:min=400
    }
}
