# Realistic Ores rare echo body: Coal Measures at Y 160..320.

Config {
    B:enabled=true
}

Deposit {
    S:customReplacements <
        #minecraft:stone_ore_replaceables -> better_ore_geology:coal_measures
        #minecraft:deepslate_ore_replaceables -> better_ore_geology:deepslate_coal_measures
     >

    S:descendants <

     >

    S:ores <
        better_ore_geology:coal_measures
     >

    I:rarity=320

    S:replaceableBlocks <
        #better_ore_geology:overworld_ore_replaceables
        #better_ore_geology:overworld_ore_replaceables
     >

    B:vanilla=false

    Dimensions {
        S:blackList <
         >
        S:whiteList <
            minecraft:overworld
         >
    }

    Biomes {
        S:blackList <
         >
        S:whiteList <
         >
    }

    Altitude {
        I:max=320
        I:min=160
    }

    Miscellaneous {
        B:exposed=true
        I:maxAttempts=64
        S:proportions=1.0
        B:strictBounds=true
        B:strictStart=false
    }

    Indicator {
        S:circles <
            better_ore_geology:surface_sample_coal_measures, 3
            better_ore_geology:surface_sample_coal_measures, 6
         >
        S:continuity=25.0
        I:distortion=2
        S:id=
        S:threshold=20.0
    }

    Size {
        I:max=1800
        I:min=900
    }
}
