# Realistic Ores home-band industrial body: dominant Copper Bloom supply at Y 16..112.

Config {
    B:enabled=true
}

Deposit {
    S:customReplacements <
        #minecraft:stone_ore_replaceables -> realistic_ores:copper_bloom
        #minecraft:deepslate_ore_replaceables -> realistic_ores:deepslate_copper_bloom
     >

    S:descendants <

     >

    S:ores <
        realistic_ores:copper_bloom
     >

    I:rarity=56

    S:replaceableBlocks <
        #realistic_ores:overworld_ore_replaceables
        #realistic_ores:overworld_ore_replaceables
     >

    B:vanilla=false

    Dimensions {
        S:blackList <
         >
        S:whiteList <
            minecraft:overworld
         >
    }

    Biomes {
        S:blackList <
         >
        S:whiteList <
         >
    }

    Altitude {
        I:max=112
        I:min=16
    }

    Miscellaneous {
        B:exposed=true
        I:maxAttempts=64
        S:proportions=1.0
        B:strictBounds=true
        B:strictStart=false
    }

    Indicator {
        S:circles <
            realistic_ores:surface_sample_copper_bloom, 3
            realistic_ores:surface_sample_copper_bloom, 6
         >
        S:continuity=25.0
        I:distortion=2
        S:id=
        S:threshold=20.0
    }

    Size {
        I:max=1200
        I:min=600
    }
}
