# Realistic Ores home-band industrial body: dominant Evaporite Beds supply at Y 72..176.

Config {
    B:enabled=true
}

Deposit {
    S:customReplacements <
        #minecraft:stone_ore_replaceables -> realistic_ores:evaporite_beds
        #minecraft:deepslate_ore_replaceables -> realistic_ores:deepslate_evaporite_beds
     >

    S:descendants <

     >

    S:ores <
        realistic_ores:evaporite_beds
     >

    I:rarity=113

    S:replaceableBlocks <
        #realistic_ores:overworld_ore_replaceables
        #realistic_ores:overworld_ore_replaceables
     >

    B:vanilla=false

    Dimensions {
        S:blackList <
         >
        S:whiteList <
            minecraft:overworld
         >
    }

    Biomes {
        S:blackList <
         >
        S:whiteList <
         >
    }

    Altitude {
        I:max=176
        I:min=72
    }

    Miscellaneous {
        B:exposed=true
        I:maxAttempts=64
        S:proportions=1.0
        B:strictBounds=true
        B:strictStart=false
    }

    Indicator {
        S:circles <
            realistic_ores:surface_sample_evaporite_beds, 3
            realistic_ores:surface_sample_evaporite_beds, 6
         >
        S:continuity=25.0
        I:distortion=2
        S:id=
        S:threshold=20.0
    }

    Size {
        I:max=700
        I:min=300
    }
}
