# Realistic Ores rare echo body: Hotstone at Y 192..448.

Config {
    B:enabled=true
}

Deposit {
    S:customReplacements <
        #minecraft:stone_ore_replaceables -> realistic_ores:hotstone
        #minecraft:deepslate_ore_replaceables -> realistic_ores:deepslate_hotstone
     >

    S:descendants <

     >

    S:ores <
        realistic_ores:hotstone
     >

    I:rarity=10240

    S:replaceableBlocks <
        #realistic_ores:overworld_ore_replaceables
     >

    B:vanilla=false

    Dimensions {
        S:blackList <
         >
        S:whiteList <
            minecraft:overworld
         >
    }

    Biomes {
        S:blackList <
         >
        S:whiteList <
         >
    }

    Altitude {
        I:max=448
        I:min=192
    }

    Miscellaneous {
        B:exposed=true
        I:maxAttempts=64
        S:proportions=0.45
        B:strictBounds=true
        B:strictStart=false
    }

    Indicator {
        S:circles <
            realistic_ores:surface_sample_hotstone, 3
            realistic_ores:surface_sample_hotstone, 6
         >
        S:continuity=25.0
        I:distortion=2
        S:id=
        S:threshold=20.0
    }

    Size {
        I:max=1200
        I:min=500
    }
}
