# Realistic Ores home-band industrial body: dominant Hotstone supply at Y -128..-72.

Config {
    B:enabled=true
}

Deposit {
    S:customReplacements <
        #minecraft:stone_ore_replaceables -> better_ore_geology:hotstone
        #minecraft:deepslate_ore_replaceables -> better_ore_geology:deepslate_hotstone
     >

    S:descendants <

     >

    S:ores <
        better_ore_geology:hotstone
     >

    I:rarity=269

    S:replaceableBlocks <
        #better_ore_geology:overworld_ore_replaceables
     >

    B:vanilla=false

    Dimensions {
        S:blackList <
         >
        S:whiteList <
            minecraft:overworld
         >
    }

    Biomes {
        S:blackList <
         >
        S:whiteList <
         >
    }

    Altitude {
        I:max=-72
        I:min=-128
    }

    Miscellaneous {
        B:exposed=true
        I:maxAttempts=64
        S:proportions=0.45
        B:strictBounds=true
        B:strictStart=false
    }

    Indicator {
        S:circles <
            better_ore_geology:surface_sample_hotstone, 3
            better_ore_geology:surface_sample_hotstone, 6
         >
        S:continuity=25.0
        I:distortion=2
        S:id=
        S:threshold=20.0
    }

    Size {
        I:max=600
        I:min=250
    }
}
