# Realistic Ores rare echo body: Ironstone at Y 112..288.

Config {
    B:enabled=true
}

Deposit {
    S:customReplacements <
        #minecraft:stone_ore_replaceables -> realistic_ores:ironstone
        #minecraft:deepslate_ore_replaceables -> realistic_ores:deepslate_ironstone
     >

    S:descendants <

     >

    S:ores <
        realistic_ores:ironstone
     >

    I:rarity=320

    S:replaceableBlocks <
        #realistic_ores:overworld_ore_replaceables
        #realistic_ores:overworld_ore_replaceables
     >

    B:vanilla=false

    Dimensions {
        S:blackList <
         >
        S:whiteList <
            minecraft:overworld
         >
    }

    Biomes {
        S:blackList <
         >
        S:whiteList <
         >
    }

    Altitude {
        I:max=288
        I:min=112
    }

    Miscellaneous {
        B:exposed=true
        I:maxAttempts=64
        S:proportions=1.0
        B:strictBounds=true
        B:strictStart=false
    }

    Indicator {
        S:circles <
            realistic_ores:surface_sample_ironstone, 3
            realistic_ores:surface_sample_ironstone, 6
         >
        S:continuity=25.0
        I:distortion=2
        S:id=
        S:threshold=20.0
    }

    Size {
        I:max=1800
        I:min=900
    }
}
