# Realistic Ores rare echo body: Tin Quartz at Y 160..384.

Config {
    B:enabled=true
}

Deposit {
    S:customReplacements <
        #minecraft:stone_ore_replaceables -> realistic_ores:tin_quartz
        #minecraft:deepslate_ore_replaceables -> realistic_ores:deepslate_tin_quartz
     >

    S:descendants <

     >

    S:ores <
        realistic_ores:tin_quartz
     >

    I:rarity=640

    S:replaceableBlocks <
        #realistic_ores:overworld_ore_replaceables
        #realistic_ores:overworld_ore_replaceables
     >

    B:vanilla=false

    Dimensions {
        S:blackList <
         >
        S:whiteList <
            minecraft:overworld
         >
    }

    Biomes {
        S:blackList <
         >
        S:whiteList <
         >
    }

    Altitude {
        I:max=384
        I:min=160
    }

    Miscellaneous {
        B:exposed=true
        I:maxAttempts=64
        S:proportions=1.0
        B:strictBounds=true
        B:strictStart=false
    }

    Indicator {
        S:circles <
            realistic_ores:surface_sample_tin_quartz, 3
            realistic_ores:surface_sample_tin_quartz, 6
         >
        S:continuity=25.0
        I:distortion=2
        S:id=
        S:threshold=20.0
    }

    Size {
        I:max=1350
        I:min=600
    }
}
